html {
  font-size: 62.5%;
}

body {
  width: 980px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}

.top_menu li {
  float: left;
  width: auto;
}

.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.top_menu li a:hover {
  text-decoration: underline;
}

.logo_image {
  width: 110px;
  float: left;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
